
<form style="padding-bottom: 0px;margin-bottom:0;" class="bs-docs-example">
    <div class="controls docs-input-sizes form-actions">
        <ul class="list_filter">
            <li class="filter-item">
            <div style="position: relative;margin-bottom:0" class="input-append">
                <input type="text" class="input-large" placeholder="{{filterText}}" value="{{filterText}}" readonly>
                <div style="position:static;" class="btn-group">
                    <button data-toggle="dropdown" class="btn dropdown-toggle">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu width-dropdown range-time" role="menu" aria-labelledby="dropdownMenu">
                        <li><a href="javascript:;" ng-click="select('all')">All campaign</a></li>
                        <li><a href="javascript:;" ng-click="select('disable')">Disable campaign</a></li>
                    </ul>
                </div>
            </div>
            </li>                                   
        </ul>
    </div>
</form>
<div class="row-fluid show-grid">
    <div class="span6">
        <a class="label label-secondary" href="javascript:;" ng-if="checkPermission(permissionDefine.EDITORDER)" ng-click="disable()" ng-class="isActiveClass()" ng-hide="filterText=='Disable Campaign'"><i class="icon-trash"></i>Disable</a>
        <a class="label label-secondary" href="javascript:;" ng-if="checkPermission(permissionDefine.EDITORDER)" ng-click="enable()" ng-class="isActiveClass()" ng-show="filterText=='Disable Campaign'"><i class="icon-trash"></i>Enable</a>
        <a class="label label-secondary" href="javascript:;" ng-if="checkPermission(permissionDefine.EDITORDER)" ng-click="pause()" ng-class="isActiveClass()"><i class="icon-pause"></i>Pause</a>
        <a class="label label-secondary" href="javascript:;" ng-if="checkPermission(permissionDefine.EDITORDER)" ng-click="resume()" ng-class="isActiveClass()"><i class="icon-play"></i>Resume</a>              
    </div>
    <div class="span6">
        <label class="right">
            <input type="text" aria-controls="dt_a" placeholder="Search campain..." ng-enter="search()" ng-model="searchText">
        </label>
    </div>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="check_widthtable">
                <span class="table-check">
                    <input type="checkbox" ng-model="checkBoxes['all']">
                    <label class="choice" for=""></label>
                </span>
            </th>
            <th style="width: 25%" ng-class="getSortClass('name')" ng-click="switchSort('name')">Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Items</th>
            <th ng-class="getSortClass('status')" ng-mouseover="mouseHoverCol('status')" ng-mouseleave="mouseLeaveCol('status')" ng-click="switchSort('status')">Status</th>
            <th ng-class="getSortClass('campaignType')" ng-mouseover="mouseHoverCol('type')" ng-mouseleave="mouseLeaveCol('type')" ng-click="switchSort('campaignType')">Type</th>
        </tr>
    </thead>
    <tbody >
        <tr ng-repeat="item in items" >
            <td>
                <span class="table-check">
                    <input type="checkbox" ng-model="checkBoxes[item.id]" ng-change="check(item.id)"/>
                    <label class="choice" for=""></label>
                </span>
            </td>
            <td ng-mouseover="mouseover($index)" ng-mouseleave="mouseleave()" class="name">
                <a href="javascript:;" ng-click="gotoCampaign(item.id)">{{item.name}}</a>
                <a ng-if="checkPermission(permissionDefine.EDITORDER)" ng-show="currentSelectedRow == $index" style="float:right" class="label label-secondary" href="javascript:;" ng-click="gotoCampaignSetting(item.id)"><i class="icon-edit"></i>Edit</a>
            </td>
            <td>{{formatDateTime(item.startDate)}}</td>
            <td>{{formatDateTime(item.endDate - 86400000)}}</td>
            <td><a href="javascript:;" ng-click="gotoCampaign(item.id)">{{item.itemCount}}</a></td>
            <td><a class="label" ng-class="getCampaignStatusClass(item.status)">{{item.status}}</a></td>
            <td><a class="label" ng-class="getCampaignTypeClass(item.campaignType)">{{item.campaignType}}</a></td>
        </tr>
    </tbody>
</table>

<div ng-show="totalRecord > 0">
    <paging total="{{totalRecord}}" pagesize="pageSize" pageindex="pageIndex" onchange="paging(start, size)">            
	    
    </paging>
</div>
<div ng-show="totalRecord <= 0">
    No item found.
</div>
