<form class="form-horizontal">
    <fieldset>
        <div class="control-group">
            <p class="control-line">Select one of the following campaign item</p>
        </div>
        <div class="control-group">
            <div class="ctngroup_left">
                <span class="radioCampaign">
                    <input type="radio" name="banner" ng-click="choose('banner')"/>
                    <label for="" class="choice"></label>
                </span>
            </div>
            <div class="controls">
                <strong>Banner</strong>
                <p>
                    <!-- sample modal content -->
                    Sed ut persde omnis iste natus error sit voluptatem accusantium doloremque laudantiuotam rem aperiam, eaque ipsa. Sed ut persde omnis iste natus error sit voluptatem accusantium doloremque laudantiuotam rem aperiam, eaque ipsa.
                </p>
            </div>
        </div>
        <div class="control-group">
            <div class="ctngroup_left">
                <span class="radioCampaign">
                    <input type="radio" name="banner" ng-click="choose('popup')"/>
                    <label for="" class="choice"></label>
                </span>
            </div>
            <div class="controls">
                <strong>Popup Banner</strong>
                <p> 
                    <!-- sample modal content -->
                    Sed ut persde omnis iste natus error sit voluptatem accusantium doloremque laudantiuotam rem aperiam, eaque ipsa. Sed ut persde omnis iste natus error sit voluptatem accusantium doloremque laudantiuotam rem aperiam, eaque ipsa.
               </p>
            </div>
        </div>
        <div class="control-group">
            <div class="ctngroup_left">
                <span class="radioCampaign">
                    <input type="radio" name="banner" ng-click="choose('expandable')"/>
                    <label for="" class="choice"></label>
                </span>
            </div>
            <div class="controls">
                <strong>Expandable Banner</strong>
                <p>
                    <!-- sample modal content -->
                    Sed ut persde omnis iste natus error sit voluptatem accusantium doloremque laudantiuotam rem aperiam, eaque ipsa. Sed ut persde omnis iste natus error sit voluptatem accusantium doloremque laudantiuotam rem aperiam, eaque ipsa.
                </p>
            </div>
        </div>
        <div class="control-group">
            <div class="ctngroup_left">
                <span class="radioCampaign">
                    <input type="radio" name="banner" ng-click="choose('balloon')"/>
                    <label for="" class="choice"></label>
                </span>
            </div>
            <div class="controls">
                <strong>Balloon Banner</strong>
                <p> 
                    <!-- sample modal content -->
                    Sed ut persde omnis iste natus error sit voluptatem accusantium doloremque laudantiuotam rem aperiam, eaque ipsa. Sed ut persde omnis iste natus error sit voluptatem accusantium doloremque laudantiuotam rem aperiam, eaque ipsa.
               </p>
            </div>
        </div>
        <div class="control-group">
            <div class="ctngroup_left">
                <span class="radioCampaign">
                    <input type="radio" name="html" ng-click="choose('html')" />
                    <label for="Field" class="choice"></label>
                </span>
            </div>
            <div class="controls">
                <strong>Html</strong>
                <p>
                    Sed ut persde omnis iste natus error sit voluptatem accusantium doloremque laudantiuotam rem aperiam, eaque ipsa. Sed ut persde omnis iste natus error sit voluptatem accusantium doloremque 
                </p>
            </div>
        </div>
        <div class="control-group">
            <div class="ctngroup_left">
                <span class="radioCampaign">
                    <input type="radio" name="html" ng-click="choose('tracking')" />
                    <label for="Field" class="choice"></label>
                </span>
            </div>
            <div class="controls">
                <strong>Tracking</strong>
                <p>
                    Sed ut persde omnis iste natus error sit voluptatem accusantium doloremque laudantiuotam rem aperiam, eaque ipsa. Sed ut persde omnis iste natus error sit voluptatem accusantium doloremque 
                </p>
            </div>
        </div>
        <div class="control-group">
            <div class="ctngroup_left">
                <span class="radioCampaign">
                    <input type="radio" ng-click="choose('prBanner')" />
                    <label for="Field" class="choice"></label>
                </span>
            </div>
            <div class="controls">
                <strong>Pr Banner</strong>
                <p>
                    Sed ut persde omnis iste natus error sit voluptatem accusantium doloremque laudantiuotam rem aperiam, eaque ipsa. Sed ut persde omnis iste natus error sit voluptatem accusantium doloremque 
                </p>
            </div>
        </div>
    </fieldset>
</form>
