<h2>Campaign Type</h2>
<form class="form-horizontal">
    <fieldset>
        <div class="control-group">
            <p class="control-line">Select one Campaign type below</p>
        </div>
        <div class="control-group">
            <div class="ctngroup_left">
                <span class="radioCampaign">
                    <input type="radio" name="campaign" ng-click="createBookingCampaign()"/>
                    <label for="" class="choice"></label>
                </span>
            </div>
            <div class="controls">
                <strong>Booking Display Ads</strong>
                <p>
                    <!-- sample modal content -->
                    Sed ut persde omnis iste natus error sit voluptatem accusantium doloremque laudantiuotam rem aperiam, eaque ipsa. Sed ut persde omnis iste natus error sit voluptatem accusantium doloremque laudantiuotam rem aperiam, eaque ipsa.
               
                </p>
            </div>
        </div>
        <div class="control-group">
            <div class="ctngroup_left">
                <span class="radioCampaign">
                    <input type="radio" name="campaign" ng-click="createNetworkCampaign()" />
                    <label for="Field" class="choice"></label>
                </span>
            </div>
            <div class="controls">
                <strong>Network Display Ads</strong>
                <p>
                    Sed ut persde omnis iste natus error sit voluptatem accusantium doloremque laudantiuotam rem aperiam, eaque ipsa. Sed ut persde omnis iste natus error sit voluptatem accusantium doloremque 
               
                </p>
            </div>
        </div>
        <div class="control-group">
            <div class="ctngroup_left">
                <span class="radioCampaign">
                    <input type="radio" name="campaign" ng-click="createNetworkVideoCampaign()" />
                    <label for="Field" class="choice"></label>
                </span>
            </div>
            <div class="controls">
                <strong>Netword Video Ads - TVC</strong>
                <p>
                    Sed ut persde omnis iste natus error sit voluptatem accusantium doloremque laudantiuotam rem aperiam, eaque ipsa. Sed ut persde omnis iste natus error.
               
                </p>
            </div>
        </div>

        <div class="control-group">
            <div class="ctngroup_left">
                <span class="radioCampaign">
                    <input type="radio" name="campaign" ng-click="createPrNetworkCampaign()" />
                    <label for="Field" class="choice"></label>
                </span>
            </div>
            <div class="controls">
                <strong>Network PR Articles</strong>
                <p>
                    Sed ut persde omnis iste natus error sit voluptatem accusantium doloremque laudantiuotam rem aperiam, eaque ipsa. Sed ut persde omnis iste natus error.
               
                </p>
            </div>
        </div>

    </fieldset>
</form>
