<!--PR articles-->
<ng-include ng-show="isPRCampaign" src="'views/article/campaign.articles.list'"  ng-controller="controllers.CampaignArticleListController"></ng-include>

<!--General items-->
<div ng-hide="isPRCampaign" ng-controller="controllers.CampaignItemListController">
    <form style="padding-bottom: 0px; margin-bottom: 0;" class="bs-docs-example">
        <div class="controls docs-input-sizes form-actions">
            <ul class="list_filter">
                <li class="filter-item">
                    <div style="position: relative; margin-bottom: 0" class="input-append">
                        <input type="text" class="input-large" placeholder="{{filterText}}" value="{{filterText}}" readonly>
                        <div style="position: static;" class="btn-group">
                            <button data-toggle="dropdown" class="btn dropdown-toggle">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu width-dropdown range-time" role="menu" aria-labelledby="dropdownMenu">
                                <li><a href="javascript:;" ng-click="select('all')">All items</a></li>
                                <li><a href="javascript:;" ng-click="select('disable')">Disable items</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </form>
    <div class="row-fluid show-grid">
        <div class="span6">
            <a class="label label-secondary" href="javascript:;" ng-hide="isDisableList" ng-click="deleteItems()" ng-if="checkPermission(permissionDefine.EDITORDER)" ng-class="isActiveClass('delete')"><i class="icon-trash"></i>Disable</a>
            <a class="label label-secondary" href="javascript:;" ng-show="isDisableList" ng-click="enableItems()" ng-if="checkPermission(permissionDefine.EDITORDER)" ng-class="isActiveClass('enable')"><i class="icon-trash"></i>Enable</a>
        </div>
        <div class="span6">
            <label class="right">
                <input type="text" aria-controls="dt_a" placeholder="Search item..." ng-enter="search()" ng-model="searchText">
            </label>
        </div>
    </div>


    <!-- content -->
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="check_widthtable" style="width: 20px">
                    <span class="table-check">
                        <input type="checkbox" ng-model="checkBoxes['all']">
                        <label class="choice" for=""></label>
                    </span>
                </th>
                <th style="width: 30px">Preview</th>
                <th style="width: 50%" ng-class="getSortClass('name')" ng-click="switchSort('name')">Item Name</th>
                <th>Type</th>
                <th style="width: 20px">Zone</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td>
                    <span class="table-check">
                        <input type="checkbox" ng-model="checkBoxes[item.id]" ng-change="check(item.id)" />
                        <label class="choice" for=""></label>
                    </span>
                </td>
                <td style="text-align: center">
                    <a class="iconads" href="javascript:;" ng-class="getKind(item.kind)" ng-click="view(item.id, item.name, item.kind)"></a>

                </td>
                <td ng-mouseover="mouseover($index)" ng-mouseleave="mouseleave()" class="name">
                    <a href="javascript:;" ng-click="gotoItem(item.id)">{{item.name}}</a>
                    <a style="float: right" ng-if="checkPermission(permissionDefine.EDITORDER)" ng-show="currentSelectedRow == $index" class="label label-secondary" href="javascript:;" ng-click="gotoItemSetting(item.id)"><i class="icon-edit"></i>Edit</a>
                    <a style="float: right; margin-right: 5px" ng-if="checkPermission(permissionDefine.EDITORDER)" ng-show="currentSelectedRow === $index" class="label label-secondary" href="javascript:;" ng-click="cloneItem(item.id, item.name, $event)"><i class="icon-retweet"></i>Clone</a>
                </td>
                <td><span class="label">{{item.kind}}</span></td>
                <td>
                    <span style="color: blue; font-weight: bold" ng-show="isBooking(item.kind)">{{item.linkedZones}}</span>
                    <span style="color: blue; font-weight: bold" ng-show="isNetwork(item.kind, item.targetZones.length)">{{item.targetZones.length}}</span>
                    <span style="color: blue; font-weight: bold" ng-show="isNetworkWithoutZone(item.kind, item.targetZones.length)">----</span>
                </td>
            </tr>
        </tbody>
    </table>

    <div ng-show="totalRecord > 0">
        <paging total="{{totalRecord}}" pagesize="pageSize" pageindex="pageIndex" onchange="paging(start, size)">            
	    
    </paging>
    </div>
    <div ng-show="totalRecord <= 0">
        No item found.
    </div>


    <div id="myModal" class="modal hide fade " role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Link to zone</h3>
        </div>
        <div class="modal-body notice">
            <p class="font-size16"><strong>Select the following zones to add into item name</strong></p>
            <div id="mcs4_container" class="list_userdefault listItems">
                <div class="customScrollBox" style="">
                    <div class="container listzone2" style="top: 0px;">
                        <ul class="listzone checkTree">
                            <li ng-repeat="item in campaignZones" ng-show="isValidZone(item)" ng-class="(item.disable === true)?'unavailable':''">
                                <span class="table-check">
                                    <input type="checkbox" id="zone{{item.zoneId}}" ng-model="checkZones[item.zoneId]" ng-disabled="item.disable">
                                    <label for="" class="choice"></label>
                                </span>
                                <label for="zone{{item.zoneId}}">{{item.name}}{{(item.disable === true)?'(Disabled)':''}}</label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="javascript:;" class="btn" ng-click="closeModal('#myModal')">Cancel</a>
            <a href="javascript:;" class="btn btn-primary" ng-click="link('#myModal')">Add zone</a>
        </div>
    </div>

    <!-- ----------- -->
    <div id="previewBanner" class="modal hide fade ads" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-body notice">
            <p>Item : <span style="color: #4B79C3; font-weight: bold">{{previewTitle}}</span></p>
            <img ng-src="{{previewSource}}" alt="" ng-show="isBannerImg(previewSource)" width="{{previewWidth}}" height="{{previewHeight}}">
            <object codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0" type="application/x-shockwave-flash" data="{{previewSource}}" ng-show="isBannerFlash(previewSource)" width="{{previewWidth}}" height="{{previewHeight}}">
                <param name="movie" value="{{previewSource}}" />
                <param name="quality" value="high" />
                <param name="scale" value="exactfit" />
                <embed ng-src="{{previewSource}}" quality="high" width="{{previewWidth}}" height="{{previewHeight}}" />
            </object>
        </div>
    </div>

    <div id="previewHtml" class="modal hide fade ads" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-body notice">
            <p>Item : <span style="color: #4B79C3; font-weight: bold">{{previewTitle}}</span></p>
            <iframe srcdoc="{{previewContent}}" width="{{previewWidth}}" height="{{previewHeight}}">
                <p>Your browser does not support iframe!</p>
            </iframe>
        </div>
    </div>

    <div id="previewVideo" class="modal hide fade ads" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-body notice">
            <p>Item : <span style="color: #4B79C3; font-weight: bold">{{previewTitle}}</span></p>
            <a style="display: block; width: 520px; height: 330px" id="player"></a>
        </div>
    </div>


    <div id="previewExternalVideo" class="modal hide fade ads" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-body notice">
            <p>Item : <span style="color: #4B79C3; font-weight: bold">{{previewTitle}}</span></p>
            <div class="alert">This is external video</div>
        </div>
    </div>

    <div class="popoup-booking" ng-style="position" ng-show="isShownCloneItem">
        <div class="marginbottom">
            <h5><i class="icon-retweet"></i>Clone Item : <span style="font-weight: normal; color: #005580">{{cloneName}}</span></h5>
            <div class="content-booking">
                Item Name :<input type="text" class="input-medium" ng-model="cloneItemName">
                <div class="margin-top2">
                    <a class="btn btn-small btn-primary" href="javascript:;" ng-click="createItem()">Create</a> <a class="btn btn-small" href="javascript:;" ng-click="closeCloneItem()">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
