<div class="row-fluid show-grid">
    <div class="span6">
        <!--<a class="label label-secondary" href="javascript:;" ng-click="unlink()" ng-class="isActiveClass()"><i class="icon-minus-sign"></i> Unlink</a>            -->
    </div>
    <div class="span6">
        <label class="right">
        <input type="text" aria-controls="dt_a" placeholder="Search ..." ng-model="searchText" ng-enter="search()">
        </label>
    </div>
</div>


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="check_widthtable">
                <span class="table-check">
                    <input class="" type="checkbox" ng-model="checkboxes['all']" tabindex="4" value="First Choice" name="Field">
                    <label class="choice" for="Field"></label>
                </span>
            </th>
            <th style="width: 30%">Preview</th>
            <th style="width: 25%" ng-class="getSortClass('name')" ng-click="switchSort('name')">Item Name</th>
            <th>Size</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in items">
            <td>
                <span class="table-check">
                    <input type="checkbox" ng-model="checkboxes[item.id]" ng-change="check(item.id)"/>
                    <label class="choice" for="Field"></label>
                </span>
            </td>
            <td style="text-align: center">
                <a class="iconads" href="javascript:;" ng-class="getKind(item.kind)" ng-click="view(item.id, item.name, item.kind)"></a>
            </td>
            <td ng-mouseover="mouseover($index)" ng-mouseleave="mouseleave()">
                <div>
                    <a href="javascript:" ng-click="gotoItem(item.id)">{{item.name}}</a>
                    <a ng-if="checkPermission(permissionDefine.EDITORDER)" style="float:right" ng-show="currentSelectedRow == $index" 
                        href="javascript:;" class="label label-secondary" 
                        ng-click="gotoItemSetting(item.id)" >
                        <i class="icon-edit"></i>Edit
                    </a>
                </div>
            </td>
            <td>{{item.width}}x{{item.height}}</td>
        </tr>
    </tbody>

</table>
<div ng-show="totalRecord > 0">
    <paging total="{{totalRecord}}" pagesize="pageSize" pageindex="pageIndex" onchange="paging(start, size)">            	    
    </paging>
</div>
<div ng-show="totalRecord <= 0">
    No item found.
</div>

<div id="previewBanner" class="modal hide fade ads" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-body notice">
        <p>Item : <span style="color:#4B79C3;font-weight: bold">{{previewTitle}}</span></p>
        <img ng-src="{{previewSource}}" alt="" ng-show="isBannerImg(previewSource)" width="{{previewWidth}}" height="{{previewHeight}}"/>
        <object codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0" type="application/x-shockwave-flash" data="{{previewSource}}" ng-show="isBannerFlash(previewSource)" width="{{previewWidth}}" height="{{previewHeight}}">
            <param name="movie" value="{{previewSource}}" />
            <param name="quality" value="high" />
            <param name="scale" value="exactfit" />
            <embed ng-src="{{previewSource}}" quality="high" width="{{previewWidth}}" height="{{previewHeight}}"/>
        </object>
    </div>
</div>

<div id="previewHtml" class="modal hide fade ads" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-body notice">
        <p>Item : <span style="color:#4B79C3;font-weight: bold">{{previewTitle}}</span></p>
        <iframe srcdoc="{{previewContent}}" width="{{previewWidth}}" height="{{previewHeight}}">
            <p>Your browser does not support iframe!</p>
        </iframe>
    </div>
</div>

<div id="previewVideo" class="modal hide fade ads" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-body notice">
        <p>Item : <span style="color:#4B79C3;font-weight: bold">{{previewTitle}}</span></p>
        <a  style="display:block;width:520px;height:330px"  id="player"></a> 
    </div>
</div>


<div id="previewExternalVideo" class="modal hide fade ads" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-body notice">
        <p>Item : <span style="color:#4B79C3;font-weight: bold">{{previewTitle}}</span></p>
        <div class="alert">This is external video</div>
    </div>
</div>