<form class="form-horizontal">
    <fieldset>
        <div class="control-group">
            <label for="api_key" class="control-label">API Key</label>
            <div class="controls">
                <input type="text" name="name" id="api_key" value="" ng-model="apiKey" class="input-large" required />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for=""></label>
            <div class="controls">
                <button class="btn btn-primary btn-large" ng-click="stop()">Stop unique visitor</button>
            </div>
        </div>
    </fieldset>
</form>
