<span>
    <div class="input-append" style="position: relative; margin-bottom: 0">
        <input type="text" class="input-mini" ng-model="pagesize">
        <div class="btn-group" style="position: static;">

            <button class="btn dropdown-toggle" data-toggle="dropdown" tabindex="-1">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu width-dropdown-small2">
                <li><a href="javascript:;" ng-click="choose(2)">2</a></li>
                <li><a href="javascript:;" ng-click="choose(4)">4</a></li>
                <li><a href="javascript:;" ng-click="choose(6)">6</a></li>
                <li><a href="javascript:;" ng-click="choose(10)">10</a></li>
                <li><a href="javascript:;" ng-click="choose(25)">25</a></li>
                <li><a href="javascript:;" ng-click="choose(50)">50</a></li>
                <li><a href="javascript:;" ng-click="choose(100)">100</a></li>
            </ul>
        </div>
    </div>
    records per page