<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
	<p>Dear {{{nameto}}},</p>
	<p>You have the PR article waiting for {{{action}}}. Please click to link below: <a href="{{{link}}}">{{{link}}}</a></p>
	<p>Thanks and best regard.</p>
</body>
</html>