<link href="{{url_static}}/resource/css/prbanner.css" type="text/css" rel="stylesheet"/>
<ul class="prbanner one-article">
    <li>
        <a href="{{link1}}" class="thumb">
            <img src="{{image_url1}}">
        </a>
        <a href="{{link1}}">
            <h3>{{title1}}</h3>
        </a>
        <p>{{description1}}</p>
    </li>
</ul>