<link href="{{url_static}}/resource/css/prbanner.css" type="text/css" rel="stylesheet"/>

<ul class="prbanner">
    <li>
        <a href="{{link1}}" class="thumb">
            <img src="{{image_url1}}">
        </a>
        <a href="{{link1}}">
            <h3>{{title1}}</h3>
        </a>
        <p>{{description1}}</p>
    </li>
    <li>
        <a href="{{link2}}">
            <h3>{{title2}}</h3>
        </a>
    </li>
    <li>
        <a href="{{link3}}">
            <h3>{{title3}}</h3>
        </a>
    </li>
</ul>