<link rel="stylesheet" type="text/css" href="http://dev.manage.adtima.vn/resource/css/prbanner.css"/>

<ul class="prbanner">
    <li>
        <a href="{{link1}}" class="thumb">
            <img src="http://img.v3.news.zdn.vn/w660/Uploaded/nokarz/2014_06_08/cau111.jpg">
        </a>
        <a href="{{link1}}">
            <h3>{{title1}}</h3>
        </a>
        <p>description description description description description description description description description description description description description description </p>
    </li>
    <li>
        <a href="{{link2}}">
            <h3>{{title2}}</h3>
        </a>
    </li>
    <li>
        <a href="{{link3}}">
            <h3>{{title3}}</h3>
        </a>
    </li>
</ul>