
ZoneId: {{zoneId}}<br>
Zone name: {{name}}<br>
Size: {{width}}x{{height}}<br>
<div z2-width="{{width}}" z2-height="{{height}}"  z2-zoneid="{{id}}"  class="z2-zads-zone" {{{inline}}}></div>
<hr>
<br/>

