<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <script>
            var _clInfo = "{{params}}";
        </script>
        <script type="text/javascript" src="{{domain}}/resource/js/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="{{domain}}/resource/js/swfobject.js"></script>
    </head>
    <body>
        <script src="{{domain}}/resource/js/za-mod.js"></script>
        <img id="zImg" onload="ZA.onImageLoaded()"/>
    </body>
</html>