<Creative><CompanionAds>{{#companions}}<Companion width='{{width}}' height='{{height}}'>{{#isStatic}}<StaticResource creativeType='{{staticType}}'><![CDATA[{{{staticResource}}}]]></StaticResource>{{/isStatic}}{{#isIframe}}<IFrameResource creativeType="text/html"><![CDATA[{{{iframeResource}}}]]></IFrameResource>{{/isIframe}}{{#isHtml}}<HTMLResource><![CDATA[{{{htmlResource}}}]]></HTMLResource>{{/isHtml}}{{#isTrackClick}}<CompanionClickThrough><![CDATA[{{{linkTrackClick}}}]]></CompanionClickThrough>{{/isTrackClick}}<TrackingEvents><Tracking event='creativeView'><![CDATA[{{{linkTrackCreativeView}}}]]></Tracking></TrackingEvents>{{#isAdParam}}<AdParameters><![CDATA[{{{adParameters}}}]]></AdParameters>{{/isAdParam}}</Companion>{{/companions}}</CompanionAds></Creative>