{"debug":{},"regions":{"closeButton":{"type":"standard"},"declarations":[{"id": "my-ad-notice","verticalAlign": "top","horizontalAlign": "left","backgroundColor": "transparent","width": "100pct","height": 20,"style": ".msgcd { font-family: 'Arial';margin-bottom:0; }"}]},"ads":{"clickSign": {"style": ".clicksign-style { font-family: 'Arial';}","html": "<p class='clicksign-style' align='center'>XEM THÔNG TIN CHI TIẾT</p>"},"vpaid":{"enableMaxDurationTimeout": true},"skipAd":{"enabled":false},"notice":{"type": "countdown","region": "my-ad-notice","message":"<p align='left' class='msgcd'>Quảng cáo sẽ tắt sau _countdown_ giây</p>"},"companions": {"regions": [{{{regions}}}]},"schedule":[{{{vads}}}]}}
