<h2>Create Zone</h2>
<form class="form-horizontal">
    <fieldset>
        <div class="control-group">
            <p class="">Select one of the Zone Type below</p>
        </div>
        <div class="control-group">
            <div class="ctngroup_left">
                <span class="radioCampaign">
                    <input name="zonetype" value="1" type="radio" ng-model="option">
                    <label class="choice" for="Field"></label>
                </span>
            </div>
            <div class="controls">
                <strong>Banner Zone</strong><br>
                Sed ut persde omnis iste natus error sit voluptatem accusantium doloremque laudantiuotam rem aperiam, eaque ipsa. Sed ut persde omnis iste natus error sit voluptatem accusantium doloremque laudantiuotam rem aperiam, eaque ipsa.
            </div>

        </div>

        <div class="control-group">
            <div class="ctngroup_left">
                <span class="radioCampaign">
                    <input name="zonetype" value="2" type="radio" ng-model="option">
                    <label class="choice" for="Field"></label>
                </span>
            </div>
            <div class="controls">
                <strong>Video Zone</strong><br>
                Sed ut persde omnis iste natus error sit voluptatem accusantium doloremque laudantiuotam rem aperiam, eaque ipsa. Sed ut persde omnis iste natus error sit voluptatem accusantium doloremque 
            </div>
        </div>

        <div class="control-group">
            <div class="ctngroup_left">
                <span class="radioCampaign">
                    <input name="zonetype" value="3" type="radio" ng-model="option">
                    <label class="choice" for="Field"></label>
                </span>
            </div>
            <div class="controls">
                <strong>PR Category</strong><br>
                Sed ut persde omnis iste natus error sit voluptatem accusantium doloremque laudantiuotam rem aperiam, eaque ipsa. Sed ut persde omnis iste natus error sit voluptatem accusantium doloremque 
            </div>
        </div>

        <br>
        <div class="control-group">
            <label for="" class="control-label"></label>
            <div class="controls">
                <a class="btn btn-large btn-primary" ng-click="goto('create')">CREATE</a>
                <a class="btn btn-large" ng-click="goto('cancel')">Cancel</a>
            </div>
        </div>
        <!-- /form-actions -->
    </fieldset>
</form>

